<!DOCTYPE html>
<html lang="en-US">

<head>

	<!-- Meta
	============================================= -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">

	<!-- Stylesheets
	============================================= -->
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">

	<!-- Favicon
	============================================= -->
	<link rel="shortcut icon" href="assets/img/general-elements/favicon/favicon.png">
	<link rel="apple-touch-icon" href="assets/img/general-elements/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/general-elements/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/general-elements/favicon/apple-touch-icon-114x114.png">

	<!-- Title
	============================================= -->
	<title> <%= title %></title>

</head>

<body>
	<div id="scroll-progress"><span class="scroll-percent"></span></div>

	<!-- Website Loading
	============================================= -->	
	<div id="website-loading">
		<div class="loader">
			<span class="heart-beam"></span>
		</div><!-- .loader end -->
	</div><!-- .website-loading end -->

	<!-- Document Full Container
	============================================= -->
	<div id="full-container">

		<!-- Header
		============================================= -->
		<header id="header" class="style-1" data-scroll-index="0">

			<div id="header-wrap">

				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<a class="logo" href="#">
								<img src="assets/img/logo.png" data-logo-alt="assets/img/logo-alt.png" alt="">
								<h5><span class="colored">Medical</span></h5>
								<span>Landing Template</span>
							</a><!-- .logo end -->

							<ul id="main-menu" class="main-menu">
								<li><a data-scroll-nav="0" href="#header">Home</a></li>
								<li><a data-scroll-nav="1" href="#make-appointment">About Us</a></li>
								<li><a data-scroll-nav="2" href="#happy-clients">Happy Clients</a></li>
								<li><a data-scroll-nav="3" href="#our-services">Our Services</a></li>
								<li><a data-scroll-nav="4" href="#cta-title-1">Make Consult</a></li>
							</ul>
							<a class="header-btn scroll-to btn small colorful hover-transparent-colorful" href="#make-appointment">Start using Ehr</a>
							<div class="mobile-menu-btn hamburger hamburger--slider">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</div><!-- .mobile-menu-btn -->
							<div class="clearfix"></div>
							<div id="mobile-menu"></div><!-- #mobile-menu end -->
							
						</div><!-- .col-md-12 end -->
					</div><!-- .row end -->
				</div><!-- .container end -->
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							
						</div><!-- .col-md-12 end -->
					</div><!-- .row end -->
				</div><!-- .container end -->
			</div><!-- #header-wrap end -->

		</header><!-- #header end -->

		<!-- Banner
		============================================= -->
		<section id="banner" class="fullscreen" data-scroll-index="0">

			<div class="banner-parallax" data-parallax-bg-img="homebanner.jpg" data-stellar-background-ratio="0.2" style="background-image: ">

				<div class="overlay-colored" data-bg-color="#fff" data-bg-color-opacity="0.1"></div><!-- .overlay-colored end -->
				<div class="slide-content">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">

								<div class="banner-center-box text-center">
									<h1>
										Medical & Treatment
									</h1>
									<div class="description">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing industry.
									</div>
								</div><!-- .banner-center-box end -->

							</div><!-- .col-md-10 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->
				</div><!-- .slide-content end -->

			</div><!-- .banner-parallax end -->

		</section><!-- #banner end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div id="content-wrap">

				<!-- === Make Appointment =========== -->
				<div id="make-appointment" class="flat-section make-appointment" data-scroll-index="1">

					<div class="section-content">

						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-6 text-center">
								
									<img src="assets/img/doctor-man.png" alt="">
								
								</div><!-- .col-md-3 end -->
								<div class="col-md-3 col-sm-6 col-md-push-6 text-center hidden-xs">
								
									<img src="assets/img/doctor-woman.png" alt="">
								
								</div><!-- .col-md-3 end -->
								<div class="col-md-6 col-sm-12 col-md-pull-3">
								
									<div class="box-appointment-form">
										<h2>start using ehr today</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ever since the 1500s.</p>
										
										<form id="appointment-form"
										 action="/hospital"
										 style="margin-bottom:-25px !important">
											<div class="form-group">
												<input type="submit" class="form-control" value="Continue As Hospital">
												<img src="assets/img/general-elements/cta-arrow-right.png" alt="">
												<h6>continue to login </h6>
											</div>
										</form>
										<form id="appointment-form"
										 action="/doctor"
										 style="margin-bottom:-25px !important">
											<div class="form-group">
												<input type="submit" class="form-control" value="Continue As Doctor">
												<img src="assets/img/general-elements/cta-arrow-right.png" alt="">
												<h6>continue to login </h6>
											</div>
										</form>
										<form id="appointment-form"
										action="/patient"
										>
											<div class="form-group">
												<input type="submit" class="form-control" value="Continue As Patient">
												<img src="assets/img/general-elements/cta-arrow-right.png" alt="">
												<h6>continue to signup or login</h6>
											</div>
										</form><!-- #appointment-form end -->
									</div><!-- .box-appointment-form end -->
								
								</div><!-- .col-md-6 end -->
								<div class="clearfix"></div>
								<div class="h-100"></div>
								<div class="col-md-3 col-sm-6 mb-md-50">
																
									<div class="box-info-2 text-center">
										<div class="box-icon"><img src="assets/img/healthcare.png" alt=""></div>
										<div class="box-content">
											<h4>Health Care</h4>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-2 end -->
																
								</div><!-- .col-md-3 end -->
								<div class="col-md-3 col-sm-6 mb-md-50">
																
									<div class="box-info-2 text-center">
										<div class="box-icon"><img src="assets/img/greatdoctor.png" alt=""></div>
										<div class="box-content">
											<h4>Great Doctors</h4>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-2 end -->
																
								</div><!-- .col-md-3 end -->
								<div class="col-md-3 col-sm-6 mb-md-50">
																
									<div class="box-info-2 text-center">
										<div class="box-icon"><img src="assets/img/bandaid.png" alt=""></div>
										<div class="box-content">
											<h4>Band aid</h4>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-2 end -->
																
								</div><!-- .col-md-3 end -->
								<div class="col-md-3 col-sm-6">
																
									<div class="box-info-2 text-center">
										<div class="box-icon"><img src="assets/img/bloodbank.png" alt=""></div>
										<div class="box-content">
											<h4>Blood Bank</h4>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
										</div><!-- .box-content end -->
									</div><!-- .box-info-2 end -->
																
								</div><!-- .col-md-3 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-content end -->

				</div><!-- .flat-section end -->

				<!-- === Watch Video =========== -->
				<div class="parallax-section watch-video" data-scroll-index="1">

					<div class="section-inner">

						<div class="container">
							<div class="row">
								<div class="section-content">

								<div class="col-md-4">
								
									<div class="section-title text-white mt-70">
										<h2>Watch Our Video</h2>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been standard dummy text ever since the 1500s
										</p>
									</div><!-- .section-title end -->

									<div class="row">
										<div class="col-sm-6">
										
											<div class="box-counter text-white mb-md-30">
												<h1><span class="counter-stats">820</span></h1>
												<h5>Appointments</h5>
											</div><!-- .box-counter end -->
										
										</div><!-- .col-md-6 end -->
										<div class="col-sm-6">
										
											<div class="box-counter text-white mb-md-50">
												<h1><span class="counter-stats">24</span></h1>
												<h5>Emergency Room</h5>
											</div><!-- .box-counter end -->
										
										</div><!-- .col-md-6 end -->
									</div><!-- .row end -->
								
								</div><!-- .col-md-4 end -->
								<div class="col-md-7 col-md-offset-1">
								
									<div class="video-preview"><iframe src="http://player.vimeo.com/video/95558527"></iframe></div>
								
								</div><!-- .col-md-7 end -->

								</div><!-- .section-content end -->

							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-inner end -->

				</div><!-- .parallax-section end -->

				<!-- === Happy Clients =========== -->
				<div id="happy-clients" class="flat-section happy-clients" data-scroll-index="2">

					<div class="section-content">

						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
								
									<div class="section-title colored text-center">
										<h2>Our Happy Clients</h2>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been standard dummy text ever since the 1500s
										</p>
									</div><!-- .section-title end -->
								
								</div><!-- .col-md-8 end -->
								<div class="col-md-12">
								
										<div class="testmonials-slider">
											<ul class="owl-carousel">
												<li>
													<div class="slide">
														<div class="testmonial-single">
															<div class="ts-content">
																Lorem Ipsum is simply dummy lorem Ipsum has been standard dummy text ever since the 1500s...
															</div><!-- .ts-content end -->
															<div class="ts-person">
																<span class="ts-img"><img src="assets/img/user1.png" alt=""></span>
																<h4>Ahmed Hamdy</h4>
															</div>
														</div><!-- .testmonial-single end -->
													</div><!-- .slide end -->
												</li>
												<li>
													<div class="slide">
														<div class="testmonial-single ts-color-2">
															<div class="ts-content">
																Lorem Ipsum is simply dummy lorem Ipsum has been standard dummy text ever since the 1500s...
															</div><!-- .ts-content end -->
															<div class="ts-person">
																<span class="ts-img"><img src="assets/img/user2.png" alt=""></span>
																<h4>Morad Hamdy</h4>
															</div>
														</div><!-- .testmonial-single end -->
													</div><!-- .slide end -->
												</li>
												<li>
													<div class="slide">
														<div class="testmonial-single">
															<div class="ts-content">
																Lorem Ipsum is simply dummy lorem Ipsum has been standard dummy text ever since the 1500s...
															</div><!-- .ts-content end -->
															<div class="ts-person">
																<span class="ts-img"><img src="assets/img/user1.png" alt=""></span>
																<h4>Eslam Samir</h4>
															</div>
														</div><!-- .testmonial-single end -->
													</div><!-- .slide end -->
												</li>
												<li>
													<div class="slide">
														<div class="testmonial-single ts-color-2">
															<div class="ts-content">
																Lorem Ipsum is simply dummy lorem Ipsum has been standard dummy text ever since the 1500s...
															</div><!-- .ts-content end -->
															<div class="ts-person">
																<span class="ts-img"><img src="assets/img/user2.png" alt=""></span>
																<h4>Morad Hamdy</h4>
															</div>
														</div><!-- .testmonial-single end -->
													</div><!-- .slide end -->
												</li>
												<li>
													<div class="slide">
														<div class="testmonial-single">
															<div class="ts-content">
																Lorem Ipsum is simply dummy lorem Ipsum has been standard dummy text ever since the 1500s...
															</div><!-- .ts-content end -->
															<div class="ts-person">
																<span class="ts-img"><img src="assets/img/user3.png" alt=""></span>
																<h4>Ahmed Hamdy</h4>
															</div>
														</div><!-- .testmonial-single end -->
													</div><!-- .slide end -->
												</li>
											</ul>
										</div><!-- .testmonials-slider end -->
								
								</div><!-- .col-md-12 end -->
								<div class="col-md-4">
								
								
								</div><!-- .col-md-4 end -->
								<div class="col-md-4">
								
								
								</div><!-- .col-md-4 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-content end -->

				</div><!-- .flat-section end -->

				<!-- === Our Services =========== -->
				<div id="our-services" class="parallax-section our-services" data-scroll-index="3">

					<div class="section-inner">

						<div class="container">
							<div class="row">
								<div class="section-content">

									<div class="col-md-4 col-md-offset-4 col-sm-6">

										<div class="box-info-1 text-white mb-50">
											<div class="box-icon"><img src="assets/img/checkup.png" alt=""></div>
											<div class="box-content">
												<h4>Check Up</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ever since the 1500s.</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->
									<div class="col-md-4 col-sm-6">

										<div class="box-info-1 text-white mb-50">
											<div class="box-icon"><img src="assets/img/pharmacy.png" alt=""></div>
											<div class="box-content">
												<h4>Pharmacy</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ever since the 1500s.</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->
									<div class="col-md-4 col-md-offset-4 col-sm-6 mb-md-50">

										<div class="box-info-1 text-white">
											<div class="box-icon"><img src="assets/img/restedroom.png" alt=""></div>
											<div class="box-content">
												<h4>Rested Room</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ever since the 1500s.</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->
									<div class="col-md-4 col-sm-6">

										<div class="box-info-1 text-white">
											<div class="box-icon"><img src="assets/img/attention.png" alt=""></div>
											<div class="box-content">
												<h4>Attention and Care</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor ever since the 1500s.</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->

								</div><!-- .section-content end -->

							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-inner end -->

				</div><!-- .parallax-section end -->

				<!-- === Contact Details =========== -->
				<div class="parallax-section contact-details" data-scroll-index="3">

					<div class="section-inner">

						<div class="container">
							<div class="row">
								<div class="section-content">

									<div class="col-md-4">

										<div class="box-info-1 text-white text-center mb-md-50">
											<div class="box-content">
												<h4>Address</h4>
												<p>795 South Park, Wonderlan <br> CA 94107, Australia</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->
									<div class="col-md-4">

										<div class="box-info-1 text-white text-center mb-md-50">
											<div class="box-content">
												<h4>Contact</h4>
												<p>+201093515252 - Office <br> Doctor@medical.com</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->
									<div class="col-md-4">

										<div class="box-info-1 text-white text-center">
											<div class="box-content">
												<h4>Address</h4>
												<p>795 South Park, Wonderlan <br> CA 94107, Australia</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info-1 end -->

									</div><!-- .col-md-4 end -->

								</div><!-- .section-content end -->

							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-inner end -->

				</div><!-- .parallax-section end -->

				<!-- === CTA Title 1 =========== -->
				<div id="cta-title-1" class="parallax-section cta-title-1" data-scroll-index="4">

					<div class="section-inner">

						<div class="container">
							<div class="row">
								<div class="section-content">

									<div class="col-md-10 col-md-offset-1 text-white">

											<h1 class="colored">Free Use For Life Time</h1>
											<p>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
											</p>

									</div><!-- .col-md-10 end -->
									<div class="col-md-12">
									<div class="cta-btn">
										<img class="hidden-xs" src="assets/img/general-elements/cta-arrow-right.png" alt="">
										<a class="scroll-to btn white large hover-colorful" href="#make-appointment">SStart Using Ehr</a>
										<img class="hidden-xs" src="assets/img/general-elements/cta-arrow-left.png" alt="">
										<h6>Call Us: +201093515252</h6>
									</div><!-- .cta-btn end -->
									<img src="assets/img/general-elements/cta-title1-hands.png" alt="">
									</div><!-- .col-md-12 end -->

								</div><!-- .section-content end -->

							</div><!-- .row end -->
						</div><!-- .container end -->

					</div><!-- .section-inner end -->

				</div><!-- .parallax-section end -->

			</div><!-- #content-wrap -->

		</section><!-- #content end -->

		<!-- Footer Mini
		============================================= -->
		<footer id="footer-mini">

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights-message">2018 © <span class="colored">Blockchain Ehr.</span> All Rights Reserved</div>
						<ul class="social-icons">
							<li><a class="si-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="si-behance" href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a class="si-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
						</ul><!-- .social-icons end -->
					</div><!-- .col-md-12 end -->
				</div><!-- .row end -->
			</div><!-- .container end -->

		</footer><!-- #footer-mini end -->

	</div><!-- #full-container end -->

	<a class="scroll-top" href="#"><img src="assets/img/general-elements/scroll-top.png" alt=""></a>

	<!-- External JavaScripts
	============================================= -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/jRespond.min.js"></script>
	<script src="assets/js/jquery.easing.min.js"></script>
	<script src="assets/js/jquery.fitvids.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/jquery.stellar.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.mb.YTPlayer.min.js"></script>
	<script src="assets/js/hoverIntent.js"></script>
	<script src="assets/js/simple-scrollbar.min.js"></script>
	<script src="assets/js/superfish.js"></script>
	<script src="assets/js/scrollIt.min.js"></script>
	<script src='assets/js/jquery.magnific-popup.min.js'></script>
	<script src="assets/js/jssocials.min.js"></script>
	<script src='assets/js/jquery.validate.min.js'></script>
	<script src='assets/js/functions.js'></script>

</body>
</html>
